# The Impact of Mental Health on Suicide Rates Across Countries

### Authors: Nick Ng, Kevin Tat, Keaton Staggs

In [3]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.14.3-py3-none-any.whl.metadata (1.5 kB)
Collecting fiona>=1.8.21 (from geopandas)
  Downloading fiona-1.9.5-cp311-cp311-win_amd64.whl.metadata (51 kB)
     ---------------------------------------- 0.0/51.1 kB ? eta -:--:--
     --------------- ---------------------- 20.5/51.1 kB 682.7 kB/s eta 0:00:01
     -------------------------------------- 51.1/51.1 kB 524.0 kB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.1.3)
Collecting pyproj>=3.3.0 (from geopandas)
  Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl.metadata (31 kB)
Collecting shapely>=1.8.0 (from geopandas)
  Downloading shapely-2.0.3-cp311-cp311-win_amd64.whl.metadata (7.2 kB)
Collecting attrs>=19.2.0 (from fiona>=1.8.21->geopandas)
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: certifi in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Collecting click~=8.0 (from fiona>=1.8.21->geopandas)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting click-plugins>=1.0 (from fiona>=1.8.21->geopandas)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5 (from fiona>=1.8.21->geopandas)
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: setuptools in c:\program files\windowsapps\pythonsoftwarefoundation.python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\lib\site-packages (from fiona>=1.8.21->geopandas) (65.5.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: colorama in c:\users\theaw\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Downloading geopandas-0.14.3-py3-none-any.whl (1.1 MB)
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   ----- ---------------------------------- 0.1/1.1 MB 2.8 MB/s eta 0:00:01
   ----------------------------- ---------- 0.8/1.1 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 1.1/1.1 MB 8.8 MB/s eta 0:00:00
Downloading fiona-1.9.5-cp311-cp311-win_amd64.whl (22.9 MB)
   ---------------------------------------- 0.0/22.9 MB ? eta -:--:--
   - -------------------------------------- 0.9/22.9 MB 28.7 MB/s eta 0:00:01
   -- ------------------------------------- 1.3/22.9 MB 27.2 MB/s eta 0:00:01
   --- ------------------------------------ 1.8/22.9 MB 14.2 MB/s eta 0:00:02
   ----- ---------------------------------- 2.9/22.9 MB 16.8 MB/s eta 0:00:02
   ------ --------------------------------- 3.6/22.9 MB 16.4 MB/s eta 0:00:02
   -------- ------------------------------- 4.8/22.9 MB 18.2 MB/s eta 0:00:01
   ---------- ----------------------------- 6.2/22.9 MB 19.7 MB/s eta 0:00:01
   ---------- ----------------------------- 6.3/22.9 MB 20.1 MB/s eta 0:00:01
   ----------- ---------------------------- 6.8/22.9 MB 16.6 MB/s eta 0:00:01
   -------------- ------------------------- 8.0/22.9 MB 17.7 MB/s eta 0:00:01
   -------------- ------------------------- 8.4/22.9 MB 17.9 MB/s eta 0:00:01
   --------------- ------------------------ 9.0/22.9 MB 16.5 MB/s eta 0:00:01
   ------------------ --------------------- 10.4/22.9 MB 17.3 MB/s eta 0:00:01
   -------------------- ------------------- 11.9/22.9 MB 19.9 MB/s eta 0:00:01
   ----------------------- ---------------- 13.5/22.9 MB 21.1 MB/s eta 0:00:01
   -------------------------- ------------- 15.0/22.9 MB 21.8 MB/s eta 0:00:01
   --------------------------- ------------ 15.7/22.9 MB 22.5 MB/s eta 0:00:01
   ---------------------------- ----------- 16.1/22.9 MB 19.2 MB/s eta 0:00:01
   ------------------------------ --------- 17.6/22.9 MB 22.5 MB/s eta 0:00:01
   --------------------------------- ------ 19.2/22.9 MB 28.4 MB/s eta 0:00:01
   ---------------------------------- ----- 19.9/22.9 MB 27.3 MB/s eta 0:00:01
   ----------------------------------- ---- 20.3/22.9 MB 24.2 MB/s eta 0:00:01
   -------------------------------------- - 21.8/22.9 MB 24.3 MB/s eta 0:00:01
   ---------------------------------------  22.9/22.9 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  22.9/22.9 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 22.9/22.9 MB 20.4 MB/s eta 0:00:00
Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl (6.1 MB)
   ---------------------------------------- 0.0/6.1 MB ? eta -:--:--
   ---------- ----------------------------- 1.6/6.1 MB 32.9 MB/s eta 0:00:01
   ---------------------- ----------------- 3.4/6.1 MB 36.2 MB/s eta 0:00:01
   --------------------------------- ------ 5.0/6.1 MB 35.6 MB/s eta 0:00:01
   ---------------------------------------  6.1/6.1 MB 35.3 MB/s eta 0:00:01
   ---------------------------------------- 6.1/6.1 MB 29.8 MB/s eta 0:00:00
Downloading shapely-2.0.3-cp311-cp311-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   -------------------------------------- - 1.4/1.4 MB 29.2 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 22.7 MB/s eta 0:00:00
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB 3.2 MB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 0.0/97.9 kB ? eta -:--:--
   ---------------------------------------- 97.9/97.9 kB 5.5 MB/s eta 0:00:00
Installing collected packages: shapely, pyproj, click, attrs, cligj, click-plugins, fiona, geopandas
Successfully installed attrs-23.2.0 click-8.1.7 click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.5 geopandas-0.14.3 pyproj-3.6.1 shapely-2.0.3

In [4]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [98]:
suicide_data = pd.read_csv("combined_processed_data.csv")
gdp_data = pd.read_csv("gdp_1960_2020.csv")
WHO_data = pd.read_csv("GHED_data.csv", encoding='latin1')
mental_health_data = pd.read_csv("Mental health Depression disorder Data.csv")

C:\Users\theaw\AppData\Local\Temp\ipykernel_19348\4151051238.py:3: DtypeWarning: Columns (6,22,23,24,36,38,102,103,104,105,109,110,111,117,119,125,126,127,128,132,133,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,240,241,242,243,244,245,247,248,249,250,251,253,254,255,256,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,440,441,447,451,452,453,454,455,456,457,458,459,460,461,464,465,466,467,468,472,473,474,478,479,480,481,482,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,543,544,545,547,548,549,550,551,552,553,555,556,557,558,559,560,561,565,566,568,571,572,574,575,576,577,579,580,610,624,625,626,628,629,630,631,632,633,635,637,638,643,644,646,647,648,649,650,651,652,653,654,659,662,663,665,667,668,669,670,672,674,675,676,680,681,682,683,684,685,686,688,691,692,697,698,699,700,701,716,717,718,720,723,724,729,730,731,732,733,734,735,736,737,738,741,742,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,776,777,778,781,782,783,785,792,796,797,798,799,801,802,803,804,805,806,809,810,811,812,813,819,822,823,824,825,826,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,890,891,892,893,894,895,897,899,900,901,902,903,904,905,906,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,932,934,936,937,944,948,949,950,952,953,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,978,979,980,981,982,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1003,1004,1005,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1134,1135,1136,1137,1141,1142,1143,1145,1146,1147,1148,1149,1155,1156,1157,1158,1159,1160,1164,1165,1169,1172,1173,1174,1176,1177,1179,1181,1183,1190,1191,1194,1201,1202,1203,1217,1220,1222,1223,1226,1310,1430,1431,1432,1435,1436,1437,1440,1441,1444,1445,1446,1451,1452,1456,1466,1467,1469,1473,1474,1475,1476,1477,1478,1479,1480,1481,1483,1484,1485,1486,1488,1489,1490,1491,1492,1498,1499,1500,1501,1502,1503,1507,1508,1512,1515,1516,1517,1519,1520,1522,1524,1526,1533,1534,1537,1544,1545,1546,1560,1563,1565,1566,1567,1569,1653,1654,1697,1710,1713,1745,1758,1774,1775,1776,1779,1780,1781,1784,1785,1788,1789,1790,1795,1796,1800,1810,1811,1813,2554,2555,2556,2561,2562,2563,2569,2571,2577,2578,2579,2580,2584,2585,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2692,2693,2694,2695,2696,2697,2699,2700,2701,2702,2703,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2886,2887,2888,2895,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2912,2913,2914,2915,2916,2920,2921,2922,2926,2927,2928,2929,2930,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2991,2992,2993,2995,2996,2997,2998,2999,3000,3001,3003,3004,3005,3006,3007,3008,3009,3013,3014,3015,3016,3019,3020,3022,3023,3024,3025,3027,3028,3058,3072,3073,3074,3076,3077,3078,3079,3080,3081,3083,3085,3086,3091,3092,3094,3095,3096,3097,3098,3099,3100,3101,3102,3107,3110,3111,3113,3115,3116,3117,3118,3120,3122,3123,3124,3128,3129,3130,3131,3132,3133,3134,3136,3138,3139,3140,3145,3146,3147,3148,3149,3164,3165,3166,3168,3171,3172,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3189,3190,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3224,3225,3226,3229,3230,3231,3233,3240,3244,3245,3246,3247,3249,3251,3252,3253,3254,3257,3258,3259,3260,3261,3267,3270,3271,3272,3273,3274,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3338,3339,3340,3341,3342,3343,3344,3345,3347,3348,3349,3350,3351,3352,3353,3354,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3380,3382,3384,3385,3392,3395,3396,3397,3398,3400,3401,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3426,3427,3428,3429,3430,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3451,3452,3453,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551,3552,3553,3554,3555,3556,3557,3558,3559,3560,3561,3562,3563,3564,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3582,3583,3584,3585,3586,3587,3588,3589,3592,3593,3594,3595,3597,3598,3599,3600,3601,3607,3608,3609,3610,3611,3612,3616,3617,3621,3624,3625,3626,3628,3629,3631,3633,3635,3642,3643,3646,3653,3654,3655,3669,3672,3674,3675,3678,3762,3883,3884,3885,3888,3889,3890,3893,3894,3897,3898,3899,3904,3905,3909,3919,3920,3922) have mixed types. Specify dtype option on import or set low_memory=False.
  WHO_data = pd.read_csv("GHED_data.csv", encoding='latin1')
C:\Users\theaw\AppData\Local\Temp\ipykernel_19348\4151051238.py:4: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  mental_health_data = pd.read_csv("Mental health Depression disorder Data.csv")

In [99]:
display(suicide_data)

,Region Name,Country Name,Year,Sex,0 Year,1-4 Years,5-9 Years,10-14 Years,15-19 Years,20-24 Years,...,60-64 Years,65-69 Years,70-74 Years,75-79 Years,80-84 Years,85+ Years,Unknown Age,No of Suicides,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,0.0,3.0,1.0,4.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,0.0,6.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533,Oceania,New Zealand,2014,Male,0.0,0.0,0.0,2.0,27.0,41.0,...,26.0,13.0,14.0,4.0,8.0,10.0,0.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,0.0,0.0,4.0,25.0,16.0,...,12.0,7.0,3.0,4.0,1.0,1.0,0.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,0.0,0.0,5.0,32.0,38.0,...,24.0,14.0,7.0,13.0,9.0,6.0,0.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,0.0,0.0,3.0,10.0,16.0,...,4.0,5.0,3.0,2.0,2.0,2.0,0.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,0.0,0.0,5.0,34.0,52.0,...,23.0,18.0,5.0,10.0,8.0,10.0,0.0,416.0,11.974208,17.383315

In [100]:
display(gdp_data)

       year  rank                 country    state           gdp   gdp_percent
0      1960     1       the United States  America  543300000000  4.684827e-01
1      1960     2          United Kingdom   Europe   73233967692  6.314899e-02
2      1960     3                  France   Europe   62225478000  5.365647e-02
3      1960     4                   China     Asia   59716467625  5.149297e-02
4      1960     5                   Japan     Asia   44307342950  3.820582e-02
...     ...   ...                     ...      ...           ...           ...
10129  2020   171                   Samoa  Oceania     807027244  1.040774e-05
10130  2020   172  Sao Tome and Principe.   Africa     472914469  6.098888e-06
10131  2020   173                Dominica  America     469870370  6.059630e-06
10132  2020   174                Kiribati  Oceania     199573325  2.573775e-06
10133  2020   175                  Tuvalu  Oceania      48855550  6.300601e-07

[10134 rows x 6 columns]

In [101]:
display(WHO_data)

,country,code,region,income,year,che_gdp,che_pc_usd,hk_gdp,hk_g_gdp,hk_ext_gdp,...,hp83_usd2021_pc,hp9_usd2021_pc,hpnec_usd2021_pc,hk_usd2021_pc,hk_gghed_usd2021_pc,hk_ext_usd2021_pc,hk_pvtd_usd2021_pc,gdp_usd2021_pc,pfc_usd2021_pc,gge_usd2021_pc
0,Algeria,DZA,AFR,Lower-middle,2000,3.5,62,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,946","1,225",843
1,Algeria,DZA,AFR,Lower-middle,2001,3.8,67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,993","1,308",945
2,Algeria,DZA,AFR,Lower-middle,2002,3.7,67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,118","1,371","1,098"
3,Algeria,DZA,AFR,Lower-middle,2003,3.6,76,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,298","1,335",965
4,Algeria,DZA,AFR,Lower-middle,2004,3.5,93,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,391","1,308",989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4238,Viet Nam,VNM,WPR,Lower-middle,2017,5.0,149,0.3,NaN,0.0,...,NaN,NaN,NaN,10,NaN,0.0,NaN,"3,199","1,855",689
4239,Viet Nam,VNM,WPR,Lower-middle,2018,5.0,164,0.3,NaN,NaN,...,NaN,NaN,NaN,9,NaN,NaN,NaN,"3,406","1,944",697
4240,Viet Nam,VNM,WPR,Lower-middle,2019,5.0,174,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,623","2,059",718
4241,Viet Nam,VNM,WPR,Lower-middle,2020,4.3,154,0.3,0.3,NaN,...,NaN,NaN,NaN,11,11.0,NaN,NaN,"3,694","2,067",785
4242,Viet Nam,VNM,WPR,Lower-middle,2021,4.6,173,0.2,0.2,NaN,...,NaN,NaN,NaN,8,8.0,NaN,NaN,"3,756","2,082",822

In [102]:
display(mental_health_data)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
108548,108548,Zimbabwe,ZWE,2013,303564.60359,NaN,NaN,NaN,NaN,NaN,NaN
108549,108549,Zimbabwe,ZWE,2014,311665.769283,NaN,NaN,NaN,NaN,NaN,NaN
108550,108550,Zimbabwe,ZWE,2015,320638.507158,NaN,NaN,NaN,NaN,NaN,NaN
108551,108551,Zimbabwe,ZWE,2016,330437.353798,NaN,NaN,NaN,NaN,NaN,NaN
108552,108552,Zimbabwe,ZWE,2017,340583.157405,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# gdp_data.set_index(["year"], inplace = True)

In [116]:
gdp_sorted_data = gdp_data.sort_values(["year", "gdp"], ascending = False)
gdp_2020 = gdp_sorted_data[gdp_sorted_data['year'] == 2020]

## Top 5 and bottom 5 GDP Countries

In [124]:
# top 5
top_5 = gdp_2020.head()
display(top_5)
print("The top 5 GDP countries are", ", ".join(top_5["country"].tolist()))

      year  rank            country    state             gdp  gdp_percent
9959  2020     1  the United States  America  20936600000000     0.270006
9960  2020     2              China     Asia  14722730697890     0.189870
9961  2020     3            Germany   Europe   3806060140124     0.049084
9962  2020     4     United Kingdom   Europe   2707743777173     0.034920
9963  2020     5              India     Asia   2622983732006     0.033827

The top 5 GDP countries are the United States, China, Germany, United Kingdom, India

In [126]:
# bottom 5
filtered_data.tail()
bot_5 = gdp_2020.tail()
display(bot_5)
print("The bottom 5 GDP countries are", ", ".join(bot_5["country"].tolist()))

       year  rank                 country    state        gdp   gdp_percent
10129  2020   171                   Samoa  Oceania  807027244  1.040774e-05
10130  2020   172  Sao Tome and Principe.   Africa  472914469  6.098888e-06
10131  2020   173                Dominica  America  469870370  6.059630e-06
10132  2020   174                Kiribati  Oceania  199573325  2.573775e-06
10133  2020   175                  Tuvalu  Oceania   48855550  6.300601e-07

The bottom 5 GDP countries are Samoa, Sao Tome and Principe., Dominica, Kiribati, Tuvalu